.title {
    font-size: 23px;
    font-weight: 700;

}

.dailyItem {

    background-color: #ffffff;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
    align-items: center;

}


.iconSmall {

    width: 40px;

}

.day {

    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;

}

.description {

    flex: 1 1;
    margin-left: 15px;
    text-align: right;

}

.minMax {

    color: #777777;

}

.dailyDetailsGrid {

    grid-row-gap: 0;
    row-gap: 0;
    grid-column-gap: 15px;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;


}

.dailyDetailsGridItem {

    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;

}

.dailyDetailsGridItem label:first-child{
    color: #3a3a3a;
}
.dailyDetailsGridItem label:last-child{
    color: #000000;
    
}

